/** Color palette, Beige #F2E9C7, Peru #C7782F, Black #2F1B2F, Rosy Brown #CBB7A5, Old Rose #8E3645 **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html, body {
    font-size: 18px;
    background-color: #2F1B2F;
}

.main {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
    column-gap: 10px;
    row-gap: 10px;
}

header {
    color: #F2E9C7;
    background-color: #2F1B2F;
    padding-bottom: 0%;
    margin: 0; 
}

.headerWords {
    text-align: left;
    margin-left: 1.75%;
}

#indexImg {
    opacity: 90%;
    background-position: right;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 2px rgb(0, 0, 0);
    box-shadow: 0px 7px 7px 0px;
    color: rgba(0, 0, 0, 1);
}

#indexImg:hover {
    opacity: 100%;
    box-shadow: 0px 9px 9px 0px;
    transform: scale(1.1);
}

#hobbyText {
    margin-left: 1.75%;
    text-align: center;
    font-weight: normal;
}

/****************/
/* Website Div */
#websites {
    margin: 25px;
    padding: 10px;
    float: right;
    border: solid 2px #F2E9C7;
    box-shadow: 0 8px 8px 0;
}

#websites a {
    text-decoration: none;
}

#websites p {
    text-align: center;
}

#websites:hover {
    box-shadow: 0 13px 13px 0;
}

#websites a {
    color: #2F1B2F;
    background-color: #F2E9C7;
    border: black solid 1px;
    border-radius: 5%;
    margin-top: 10px;
    padding: 6px;
    float: right;
    margin-right: 13px;
    font-size: medium;
}

#links:hover {
    color: #F2E9C7;
    background-color: #C7782F;
}
/* End Website Div */
/******************/

#mainText {
    color: #F2E9C7;
    margin-top: 15px;
    font-size: large;
}

#aboutImg {
    float: left;
    opacity: 90%;
    background-position: right;
    width: 30%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;
}


/*************************/
/******Hobbies Box*******/
.listDrop {
   
}

#list {
    color: #f2f2f2;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-left: 45%;
    margin-top: 25px;
    padding: 30px;
    width: max-content;
    border: #F2E9C7 solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#list li {
    cursor: pointer;
}

#list li:hover {
    color: cornflowerblue;
}

#listBtn {

}
/*****End Hobbies Box*****/
/************************/


/*****************************/
/****Photo Gallery Styles****/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    color: #F2E9C7;
    border-bottom: 3px solid #F2E9C7;
    padding-bottom: 10px;
}

.container .heading h3 span {
    font-weight: 100;
}



.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.dream img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#hobPic:hover {
    box-shadow: 0 20px 50px 0;
    
    transform: scale(1.3);
    border: solid 1px black;

}
/* End Photo Gallery Styles */

#myBtn {
    background-color: transparent;
    color: #F2E9C7;
    border: #F2E9C7 solid 2px;
    position: fixed;
    bottom: 10px;
    float: right;
    right: 50%;
    left: 50%;
    max-width: 35px;
    max-height: fit-content;
    width: 100%;
    font-size: 12px;      
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

/** Site Navigation **/



button {
    background-color: #2F1B2F;
    font-family: 'Roboto Mono', monospace;
    color: #F2E9C7;
    border-radius: 1px;
    margin-right: 0;
    margin-left: 5px;
    margin-bottom: 1.75%;
    font-size: large;
    border: 2px solid #F2E9C7;
    padding: 15px;
    text-align: center;
    max-height: 5%;
    height: 5%;
    cursor: pointer;
}


button:hover {
    background-color: #8E3645;
    font-family: 'Roboto Mono', monospace;
    color: #F2E9C7;
    border-radius: 1px;
    margin-right: 0;
    margin-left: 5px;
    font-size: large;
    padding: 15px;
    border: 2px solid #F2E9C7;
    text-align: center;
    max-height: 5%;
    height: 5%;
    box-shadow: 1px 8px 8px 1px black;
   
}
/** End Site Navigation **/

#one {
    text-decoration: none;
    cursor: grab;
}

#one:hover {
    color: darkmagenta;
    cursor: grab;
}

#two {
    text-decoration: none;
    cursor: grab;
}

#two:hover {
    color: #C7782F;
    cursor: grab;
}

#three {
    text-decoration: none;
    cursor: grab;
}

#three:hover {
    color: aquamarine;
    cursor: grab;
}

#four {
    text-decoration: none;
    cursor: grab;
}

#four:hover {
    color: #C7782F;
    cursor: grab;
}

#five {
    text-decoration: none;
    cursor: grab;
}

#five:hover {
    color: darkmagenta;
    cursor: grab;
}

#six {
    text-decoration: none;
    cursor: grab;
}

#six:hover {
    color: #C7782F;
    cursor: grab;
}

#seven {
    text-decoration: none;
    cursor: grab;
}

#seven:hover {
    color: aquamarine;
    cursor: grab;
}

#eight {
    text-decoration: none;
    cursor: grab;
}

#eight:hover {
    color: #C7782F;
    cursor: grab;
}

H1 {
    font-weight: 150;
    font-family: 'Roboto Mono', monospace;
    color: #F2E9C7;
    font-size: 1.5em;
    word-spacing: .25em;
    text-align: left;
}

h2 {
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
    font-size: 2.8em;
    word-spacing: .2em;
    margin: 0%;
    text-align: center;
    padding-top: 15px;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #F2E9C7;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: 1.75%;
}

#caption {
    color: #F2E9C7;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}




