html, body {
    font-size: 18px;
    background-color: #2F1B2F;
    margin: 0%;
}
/** Color palette, Beige #F2E9C7, Peru #C7782F, Black #2F1B2F, Rosy Brown #CBB7A5, Old Rose #8E3645 **/


header {
    color: #F2E9C7;
    background-color: #2F1B2F;
    padding-bottom: 0%;
    margin: 0;
}

#hobbyHeader {
    text-align: left;
}

#websites {
    margin: 10px;
}

#hobbyText {
    text-align: center;
}

#links {
    color: #F2E9C7;
    background-color: #C7782F;
    border: #F2E9C7 solid 1px;
    border-radius: 5%;
    margin: 2.5%;
    padding: .75%;
    
    
}

#aboutImg {
    opacity: 75%;
    background-position: right;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#indexImg {
    opacity: 75%;
    background-position: right;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#list {
    color: #F2E9C7;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: left;
    margin-left: 50%;

    

}

    


#mainText {
    margin-left: 1.75%;
}

#caption {
    color: #F2E9C7;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
}

/** Site Navigation **/
button {
    background-color: #2F1B2F;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #F2E9C7;
    border-radius: 1px;
    margin-left: 1.75%;
    font-size: large;
    padding-top: 2.5%;
    border: 1px solid;
    padding-bottom: 1.75%;
    text-align: center;
}


button:hover {
    background-color: #8E3645;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #F2E9C7;
    border: 1px;
    border-color: #555555;
    border-radius: 2px;
    font-size: medium;
    margin-left: 1.75%;
    padding-top: 2.5%;
    padding-bottom: 1.75;
    text-align: center;
}
/** Site Navigation **/
.headerWords {
    text-align: left;
    margin: 0%;
    
}

H1 {
    font-weight: 150;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #F2E9C7;
    font-size: 1.5em;
    word-spacing: .25em;
    text-align: left;
}


h2 {
    font-weight: 500;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 2.8em;
    word-spacing: .2em;
    margin: 0%;
    text-align: center;
    padding-top: 15px;
}


p {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #F2E9C7;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: 1.75%;
}

.column {
    flex: 25%;
    padding: 5px;
}

.row {
    display: flexbox;
}

